<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.2.0" targetFramework="net45" />
  <package id="Accord.MachineLearning.GPL" version="3.0.2" targetFramework="net45" />
  <package id="Accord.Math" version="3.2.0" targetFramework="net45" />
  <package id="Accord.Neuro" version="3.2.0" targetFramework="net45" />
  <package id="Accord.Statistics" version="3.0.2" targetFramework="net45" />
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Genetic" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Neuro" version="2.2.5" targetFramework="net45" />
  <package id="Akka" version="1.1.1" targetFramework="net45" />
  <package id="Akka.Cluster" version="1.1.1" targetFramework="net45" />
  <package id="Akka.Remote" version="1.1.1" targetFramework="net45" />
  <package id="AutoFixture" version="3.36.9" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net45" />
  <package id="Helios" version="2.1.2" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net45" />
  <package id="ILNEditor" version="0.5.0" targetFramework="net45" />
  <package id="ILNumerics" version="4.8.0.0" targetFramework="net45" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net45" />
  <package id="libsvm.net" version="2.1.8" targetFramework="net45" />
  <package id="LibSVMsharp" version="1.2.4" targetFramework="net45" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="Lucene.Net.Analysis.PanGu" version="2.4.1" targetFramework="net45" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net45" />
  <package id="MathNet.Numerics" version="3.12.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="PanGu" version="2.3.1.0" targetFramework="net45" />
  <package id="qdfeed" version="1.1.0" targetFramework="net45" />
  <package id="Reactor.Core" version="0.6.2" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net45" />
  <package id="UnitTestGenerator" version="0.4.4.0" targetFramework="net45" />
</packages>